/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

#header-brand {
 color: #0d0a06;
}
.alert-space {
  min-height: 1.5rem
}
.alert-wrapper {
  background-color: #ff4f00;
  border-top: double 4px white;
  border-bottom: double 4px white;
  padding: 0.25rem 0;
}
.alert, .notice {
  color: #efffff;
  font-weight: bold;
  margin-bottom: 0;
}
.cursive {
  font-family: cursive;
}
.border-dashed {
  border-bottom: 2px dashed #5ed098;
  width: 100%;
  margin-bottom: 1rem;
}
.index-date {
  font-weight: bold;
}
.main-container {
  background-color: white;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.side-container {
  background-color: white;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}

@import "bootstrap-custom";
@import "users";
@import "groups";
@import "events";
