//index
.index-bg {
  background-color: #fff4e2;
  border-radius: 5px;
}
.events-index-title {
  background-color: #ffdc98;
  width: 120%;
  padding-left: 0.4rem;
}
.events-index-date {
  background-color: #f9a63e;
  width: 120%;
  padding-left: 0.4rem;
}
.index-main-container {
  background-color: #ffffff;
  border: outset 2px #ffdadc;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.index-event-name {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.index-language {
  font-weight: bold;
}
.index-max {
  font-weight: 400;
  padding-left: 0.5rem;
}
.index-rest {
  color: red;
  padding-left: 0.5rem;
}
.index-status {
  margin-bottom: 0.5rem;
}
.index-btn select {
  line-height: 1.5rem;
  vertical-align: middle;
}
.index-side-column {
  background-color: #f9ff82;
  border-radius: 10px;
}
.map-side-container {
  border-color: #69a8ee;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  height: 500px;
}
.index-event-side-container {
  border-color: #93933a;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}
.event-index-box {
  border-color: #757725;
  padding: 0 2rem 3rem 2rem;
}
//search
.search-form-container {
  border-radius: 4px;
  background-color: white;
  border: ridge 1px white;
  padding: 0.7rem 1.5rem;
  margin-top: 1.5rem;
}
.searched-contents {
  font-size: 1.3rem;
}
.search-info-box {
  margin: 0.2rem 0.2rem 1rem 0.2rem;
  border-radius: 4px;
  padding: 0.2rem 0;
}
.search-info-box p {
  margin-bottom: 0;
}
.searched-info-piece {
  background-color: #ffe1ee;
  border-radius: 4px;
  padding: 0 0.3rem;
  margin-right: 0.2rem;
}
.event-index-thumbnail {
  text-align: center;
}
.event-index-thumbnail img {
  max-width: 100%;
}
//map
.index-map-container {
  border-color: #69a8ee;
  padding: 0.3rem 0.5rem;
  margin-top: 2rem;
  height: 500px;
}
.index-map-info {
  font-size: 1rem;
  margin-bottom: 0;
}
#event-index-map {
  height: 100%;
}

//show
.event-wrapper {
  background-color: #eaea89;
}
.event-container {
  border-color: #757725;
  padding: 2rem 2rem 3rem 2rem;
}
.event-show-container {
  border-color: #757725;
  padding: 1rem 0.5rem 2rem 0.5rem;
}
.event-show-language-table {
  border: dashed 2px #8dc3ff;
  margin: 2.5rem 1.5rem 0.5rem 1.5rem;
  padding: 1rem 0;
}
.event-show-language-table table {
  margin-bottom: 0;
}
.event-show-language-table th {
  padding-left: 1.5rem;
}
.event-show-table {
  margin-top: 2rem;
}
.event-show-table th {
  width: 40%;
}
.event-show-table td {
  width: 60%;
  padding-left: 1rem;
  background-color: white;
}
.participant-language {
  font-weight: bold;
}
.participant-list {
  list-style: none;
  padding-inline-start: 0.2rem;
}
.participant-list li {
  display: inline-block;
}
.participant-side-container {
  border-color: #3b5f9c;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
}
.side-container-no-rest {
  color: red;
  margin-bottom: 0;
}
.event-show-thumbnail {
  margin: 3rem 0 2rem 0;
  text-align: center;
}
.event-show-thumbnail img {
  max-width: 100%;
}
.event-show-video {
  max-width: 100%;
  margin: 0 0 2rem 0;
}
.event-show-images {
  max-width: 49%;
}
.event-show-helptext {
  margin: 2rem 0 0 1.5rem;
}
//map
#event-show-map {
  height: 400px;
  margin: 0.5rem;
}
.map-event {
  background-color: lightblue;
}

//new
.event-new-content {
  padding: 0 2rem;
}
.event-new-table th {
  width: 40%;
  padding-left: 3rem;
}
.event-new-table td {
  width: 60%;
}
.form-label {
  font-weight: bold;
}
.event-submit-btn {
  font-size: 2rem;
  font-weight: bold;
}
//map
#event-form-map {
  height: 400px;
  margin: 0.5rem;
}

//edit
.edit-image-table {
  margin: 0 0 1rem 2rem;
}
.edit-image-table th {
  font-weight: 500;
}
.edit-image-table td {
  padding-left: 1rem;
}
.image-delete-btn {
  padding: 0.19rem 0.35rem;
}
