//general
.group-wrapper {
  background-color: #8deeff;
}

//show
.group-container {
  border-color: #20718d;
  padding: 3rem 2rem;
}
.status-side-container {
  border-color: #aa6c64;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
}
.group-status {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
.group-event-side-container {
  border-color: #93933a;
  padding: 1.5rem 2rem;
  margin-top: 0.5rem;
}
