.organizing-wrapper {
  background-color: #c7e6ba;
}

//show
.organizing-title {
  font-size: 1.5rem;
}
.instruction-modal {
  border: solid 4px #ff8425;
  border-radius: 10px;
  padding: 1.5rem;
}
.modal-title {
  font-weight: bold;
}
.instruction-table-content {
  padding: 0 1rem;
}
.instruction-table td {
  text-align: center;
}
.instruction-table .top-th {
  background-color: #b1d8ff;
  width: 22%;
}
.instruction-table .top-left-th {
  background-color: #5ed098;
  width: 22%;
}
.instruction-table .action-th {
  background-color: #fbfd90;
  width: 34%;
  padding-left: 1rem;
}
.organizing-request-container {
  border-color: #720000;
  margin-top: 1rem;
  padding: 2rem;
}
.request-title {
  font-size: 1rem;
}
.organizing-wrapper .organizing-group-container {
  border-color: #004800;
  padding: 2rem;
  margin-top: 0;
}
.new-group-btn {
  font-size: 1.5rem;
}
.status-owner {
  color: red;
  font-weight: bold;
}
.status-organizer {
  color: blue;
  font-weight: bold;
}
.organizing-group-container table {
  max-width: 40rem;
}

//member
.organizing-member-container {
  border-color: #205fc1;
  padding: 2rem
}
.menber-ul {
  list-style: none;
  padding-inline-start: 1rem;
}
.member-table-content {
  padding: 0 2rem;
}
.member-table-td1 {
  width: 30%;
}
.member-table-td2 {
  width: 20%;
}
