// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//general
.user-wrapper {
  background-color: #ff7539;
}
.user-container {
  background-color: white;
  border: double 5px #aa6c64;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem 2rem;
}
.user-new-content label, em, i {
  font-weight: bold;
}
.user-new-content input {
  margin-bottom: 1rem;
  width: 100%;
}
.user-new-content textarea {
  margin-bottom: 1rem;
  width: 100%;
}
.user-new-content .btn {
  width: 50%;
}

//login
.remember_me-field {
  text-align: center;
}
.user-new-content .login-remember_me {
  margin-bottom: 1rem;
  width: 10%;
}

//show
.user-show-table th {
  width: 40%;
}
.user-show-table td {
  width: 60%;
}
.event-side-container {
  background-color: white;
  border: double 5px #93933a;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
}
.group-side-container {
  background-color: white;
  border: double 5px #618e61;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  margin-top: 0.5rem;
  padding: 1.5rem 2rem;
}
.group-side-container ul {
  list-style: none;
}
.group-side-container li {
  line-height: 2rem;
}
