// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//general
.user-wrapper {
  background-color: #ff7539;
  border-top: dashed 10px #494aee;
  border-bottom: dashed 10px #494aee;
}
.user-container {
  border-color: #aa6c64;
  padding: 2rem 2rem;
}
.user-wrapper .user-container {
  margin-top: 1.25rem;
}
.user-wrapper .event-side-container {
  margin-top: 1.25rem;
}
.user-new-content label, em, i {
  font-weight: bold;
}
.user-new-content input {
  margin-bottom: 1rem;
  width: 100%;
}
.user-new-content textarea {
  margin-bottom: 1rem;
  width: 100%;
}
.user-new-content .btn {
  width: 50%;
}

//sign_up
.error-container {
  background-color: white;
  border-radius: 10px;
  border: dashed 4px red;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

//login
.remember_me-field {
  text-align: center;
}
.user-new-content .login-remember_me {
  margin-bottom: 1rem;
  width: 10%;
}

//show
.user-show-table th {
  width: 40%;
}
.user-show-table td {
  width: 60%;
}
.event-side-container {
  border-color: #93933a;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
}
.group-side-container {
  border-color: #20718d;
  margin-top: 0.5rem;
  padding: 1.5rem 2rem;
}
.group-side-container ul {
  list-style: none;
}
.group-side-container li {
  line-height: 2rem;
}
#user-show-map{
  height: 400px;
  margin: 0.5rem;
}
